@media screen and (max-width: 800px) {
    header {
        .contenedor{
            //position: static;
            height: 400px;
            .menu{
                text-align: center;
                a{
                    margin: 10px 20px
                }
            }
        }
        .texto{
          //  position: static;
            height: auto;
            padding: 0 0 0 90px;
            .nombre{
                font-size: 30px;
            }
            h3{
                font-size: 18px;
            }
        }
        
    }

    .main{
        .acerca-de{
            .contenedor{
                overflow: hidden;
                .foto{
                    width: 80%;
                    position: relative;
                }
                article{
                    position: relative;
                    width: 100%;
                    top: -50px;
                    transform: translate(0px, 0);
                }
            }
            
        }
        .menu{
            padding-top: 0px;

            .contenedor-menu2{
                
                flex-direction: column;

                article{
                    width: 80%;
                    //float: left;
                    padding: 20px;
                    margin: 0 auto;
                   
                }
                
            }
        }
        .galeria{
            .foto{
                width: 50%;
            }

        }
        .ubicacion{
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .mapa{
            
            margin: 0 auto;
            
            iframe{
                width: 90%;
                padding: 0 0 0 90px ;
                max-height: 600px;
            }
        }
    }
    
}